body, html{
    background: #d6d5d5;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

#stars-logo{
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active{
    background: #0a52ca;
    cursor: pointer;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);    
}

.inactive{
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

.inactive:hover{
    background: #0a52ca;
    cursor: pointer;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

header{
    background: #282828;
    width: 100%;
    height: 120px;
}

.nav-bar ul{
    margin: 0;
    list-style: none;
    padding: 0;
    margin-left: 250px;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-bar ul li{
    margin: 0;
    display: inline;
    padding: 0;
    margin-right: 20px;
}

.nav-bar{
    margin-top: -100px;
    margin-left: 20px;
}

.logout{
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

.logout:hover{
    background: #c40e0e;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
    cursor: pointer;
}

.sidebar{
    float: left;
    background: #424242;
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(10%, 5%);
}

.sidebar ul li{
    list-style: none;
    margin-bottom: 20px;
}

.content{
    background: #d6d5d5;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 250px;
}


/* NEUES FENSTER */

/* vvvvvvvvvv Hier die ID vorrübergehend ausgeblendet vvvvvvvvvv */
                        #input_delete{
                            width:0px;
                            height: 0px;
                            background: transparent;
                            content: none;
                            border: none;
                            margin: 0;
                        }
/* ^^^^^^^ Hier die ID vorrübergehend ausgeblendet ^^^^^^^ */


.input_text{
    display: block;
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
    margin-bottom: 10px;
} 

#btn_submit{
    margin-top: 5px;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2); 
}

#btn_submit:hover{
    margin-top: 5px;
    background: #2869d7;
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2); 
}

#btn_close{
    margin-top: 5px;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
    margin-left: 10px;
}

#btn_close:hover{
    margin-top: 5px;
    background: #f73846;
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);  
}

form{
    margin-left: 50px;
}

p{
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
}

/* Users Tabelle */

#user-table{
    border-spacing: 0;
    margin: 0;
    margin-left: 20%;
    margin-top: 20px;
    position: absolute;
}

#user-table th{
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

#user-table td{
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.user-table-hover:hover{
    background-color: #2869d7;
    cursor: pointer;
    color: white;
}



.admin{
    background-color: #c40e0e;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.normal{
    background-color: green;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* USER HINZUFÜGEN */

#content-new-user{
    margin-top: 20px;
    margin-left: 50px;
}

#new-user{
    font-size: 26px;
    font-weight: bolder;
}

.inputs form{
    border-spacing: 0;
    margin: 0;
    margin-left: 10%;
    margin-top: 20px;
    position: absolute;
    margin-top: 20px;
}

.inputs span{
    font-size: 24px;
}

#input-new-user{
    margin-top: 20px;
}

.inputs input{
    display: block;
    width: 290px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
    margin-bottom: 10px;
}

#add-user{
    margin-top: 5px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);  
}

#add-user:hover{
    margin-top: 5px;
    background: green;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);    
}

#content-reset{
    margin-top: 5px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);    
}

#content-reset:hover{
    margin-top: 5px;
    background: #f73846;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

.inputs select{
    display: block;
    width: 310px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
    margin-bottom: 10px;
    text-align: center;
}















