table{
    border-spacing: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}

table th{
    font-size: 30px;
}

table td{
    text-align: center;
    font-size: 18px;
    border-bottom: solid 1px lightgray;
}

.table-tr-td:hover{
    background: #0a52ca;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-weight: bolder;
}

.versandklasse{
    width: 200px;
    height: 30px;
    margin: 0;
    padding-right: 10px;
}

.versandkosten{
    width: 200px;
    height: 30px;
    margin: 0;
    padding-right: 10px;
}

.gewicht{
    width: 200px;
    height: 30px;
    margin: 0;
    padding-right: 10px;
}

.masse{
    width: 200px;
    height: 30px;
    margin: 0;
    padding-right: 10px;
}