body, html{
    background: #292931;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#stars-logo{
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active{
    background: #0a52ca;
    cursor: pointer;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);;    
}

.inactive{
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

.inactive:hover{
    background: #0a52ca;
    cursor: pointer;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

header{
    background: #292931;
    width: 100%;
    height: 120px;
}

.nav-bar ul{
    margin: 0;
    list-style: none;
    padding: 0;
    margin-left: 250px;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-bar ul li{
    margin: 0;
    display: inline;
    padding: 0;
    margin-right: 20px;
}

.nav-bar{
    margin-top: -100px;
    margin-left: 20px;
}

.logout{
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
}

.logout:hover{
    background: #c40e0e;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2);
    cursor: pointer;
}

.sidebar{
    float: left;
    background: #4a4a56;
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(10%, 5%);
}

.sidebar ul li{
    list-style: none;
    margin-bottom: 20px;
}

.content{
    background: #787889;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 250px;
}


/* NEUES FENSTER */

input{
    display: block;
    margin-left: 50px;
}

#input_delete{
    width:0px;
    height: 0px;
    background: transparent;
    content: none;
    border: none;
    margin: 0;
}

.input_text{
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 18px;
    padding-left: 15px;
} 

#btn_submit{
    margin-top: 10px;
    cursor: pointer;
    border: none;
}