.container{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(254, 180, 22, 1);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 150px;
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: -70px;
    margin-bottom: 30px;
}

input{
    height: 45px;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 10px;
}
/* <<<<<<<<<< Login fehlgeschlagen >>>>>>>>>> */

span{
    margin-bottom: 5px;
    color: red;
}