body{
    margin: 0;
}

header{
    color: white;
    padding: 8px 0px 6px 40px;
    height: 70px;
}

#header-logo{
    margin-top: 0px;
    margin-right: 0px;
    float: left;
}

#rechts{
    margin-right: 200px;
}

.icons{
    width: 40px;
    height: 40px;
    float:left;
    margin-left: 20px;
}

nav ul{
    display: inline;
    padding: 0px;
    float: left;
    
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    color: black;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 25px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

#nav{
    font-family: 'Montserrat', sans-serif;
}

.active{
    background-color: orange;
    padding: 50px 10px 20px 10px;
    color: white;
}

.inactive:hover{  
}

.divider{
    background-color: orange;
    height: 8px;
}

/* <<<<<<<<< BIS HIER HIN FÜR JEDE HOMEPAGE */

/* Content */

#content-mainpage{
    padding: 8px 0px 6px 40px;
}

.attention{
    color: red;
}
