body{
    margin: 0;
}

header{
    color: white;
    padding: 8px 0px 6px 40px;
    height: 70px;
}

#header-logo{
    margin-top: 0px;
    margin-right: 0px;
    float: left;
}

#rechts{
    margin-right: 200px;
}

#nav-icons{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 3%;
    left: 85%;
}

.icons{
    width: 56.63px;
    height: 47.75px;
    float:left;
    
}

nav ul{
    display: inline;
    padding: 0px;
    float: left;
    
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    color: black;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 25px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

#nav{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active{
    background-color: orange;
    padding: 60px 10px 20px 10px;
    color: white;
}

.inactive:hover{
    color: crimson;
}

.divider{
    background-color: orange;
    height: 8px;
    width: 100%;
}

.background{
    /* background-image: url("../image/background-bubbles.png"); */
    background-color: linear-gradient(to bottom, #fffff, #e8e8e8,);
    width: 100%;
    height: 100%
}

/* <<<<<<<<< BIS HIER HIN FÜR JEDE HOMEPAGE */

/* Content */

#content-mainpage{
    padding: 8px 0px 6px 40px;
}

#news{
    padding: 8px 0px 6px 40px;
}

.beitrag{
    border: solid 1px gray;
    width: 800px;
    height: 320px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
}

.beitrag h3{
    font-weight: bolder;
    font-size: 22px;
    margin: 0;
    padding-top: 10px;
}

.beitrag h5{
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    font-weight: lighter;
}

.beitrag h6{
    color: gray;
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    font-weight: lighter;
}

.beitrag span{
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    font-weight: bold;
}

.beitrag-left{
    float:left;
}

.beitrag-right{
    float:left;
}


























