.container{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(254, 180, 22, 1);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container img{
    width: 133.25px;
    height: 115.5px;
    margin-top: -74px;
    margin-bottom: 50px;
}

::-webkit-input-placeholder {
    color: black;
}
 
:-moz-placeholder {
    color: black;
}
 
::-moz-placeholder {
    color: black;
}
 
:-ms-input-placeholder {
    color: black;
}

input{
    height: 45px;
    width: 300px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 10px;
    border: solid 2px black;
    
}


