table{
    height: auto;
    border-spacing: 0px;
    margin-top: 3px;
}

table tr{
    height: 10px;
}

tr th{
    text-align: left;
    font-size: 18px;
}

tr td{
    height: 50px;
    border-bottom: solid 1px grey;
}

.hover:hover{
    background-color: #ffc354;
    cursor: pointer;
    color: white;
}

.icon-setting{
    width: 20px;
    height: 20px;
    margin-right: auto;
}

tbody tr:nth-child(even) { 
  background-color: #ebebeb; 
  color: #000; 
}

/* TH Breite */

#th-plattform{
    width: 80px;
    padding-right: 20px;
}

#td-plattform{
    width: 80px;
    padding-right: 20px;
}

#th-artikelnummer{
    width: 100px;
    padding-right: 20px;
}

#td-artikelnummer{
    width: 100px;
    padding-right: 20px;
}

#th-artikelname{
    width: 350px;
    padding-right: 20px;
}

#td-artikelname{
    width: 350px;
    padding-right: 20px;
}

#th-hersteller{
    width: 80px;
    padding-right: 20px;
}

td-hersteller{
    width: 80px;
    padding-right: 20px;
}






















