table {
    width: 1800px;
    table-layout: fixed;
    border-left: #D9D9D9 solid;
    border-right: #D9D9D9 solid;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

thead { 
    position: absolute; 
}

tbody { 
    height: 750px; 
    overflow: scroll; 
    display: block; 
    margin-top: 67px;
}

#btnSubmit {
    display: none;
}

.hover:hover{
    background-color: #ffc354;
    cursor: pointer;
    color: white;
}

tbody tr:nth-child(even) { 
  background-color: #efefef;
  color: #000; 
}

tr th{
    text-align: left;
    font-size: 18px;
    border-bottom: solid 2px Grey;
    background: #D9D9D9;
    color: white;
    padding-top: 7px;
}

.icon-art-setting{
    width: 18.75px;
    height: 23.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-art-settings{
    width: 18.75px;
    height: 23.5px;
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#th-edit{
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#td-edit{
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#th-plattform{
    width: 70px;   
    padding-right: 10px;
}

#td-plattform{
    width: 75px;   
    padding-right: 10px;
}

#txt-plattform{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-artikelnummer{
    width: 120px;    
    padding-right: 10px;
}

#td-artikelnummer{
    width: 125px;    
    padding-right: 10px;    
}

#txt-artikelnummer{
    width: 120px; 
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-artikelname{
    width: 385px;  
    padding-right: 5px;
}

#td-artikelname{
    width: 395px;  
    padding-right: 10px;    
}

#txt-artikelname{
   width: 375px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-hersteller{
    width: 100px;    
    padding-right: 10px;
}

#td-hersteller{
    width: 105px;    
    padding-right: 10px;    
}

#txt-hersteller{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-plattform-id{
    width: 110px;   
    padding-right: 10px;
}

#td-plattform-id{
    width: 110px;   
    padding-right: 10px;
}

#txt-plattformid{
    width: 110px;
    margin-bottom: 10px; 
    margin-top: 5px;
}

#th-ek-netto{
    width: 80px;  
    padding-right: 10px;
}

#td-ek-netto{
    width: 86px;  
    padding-right: 10px;
}

#txt-eknetto{
    width: 80px;
    margin-bottom: 10px;  
    margin-top: 5px;
}

#th-mehrwertsteuer{
    width: 45px;  
    padding-right: 10px;
}

#td-mehrwertsteuer{
    width: 52px;  
    padding-right: 12px;
}

#txt-mwst{
    width: 45px;
    margin-bottom: 10px;
    margin-top: 5px;   
}

#steuer{
    background: #4988BF;
    border-radius: 4px;    
    text-align: center;
    padding: 2px;
    font-weight: bold;
    color: white;
}

#th-versandklasse{
    width: 105px;  
    padding-right: 10px;    
}

#td-versandklasse{
    width: 111px;  
    padding-right: 10px;    
}

#th-versandklassenid{
    width: 105px;  
    padding-right: 10px;
    display: none;
}

#td-versandklassenid{
    width: 111px;  
    padding-right: 10px; 
    display: none;
}

#txt-versandklasse{
    width: 105px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-gewicht{
    width: 60px;    
    padding-right: 10px;
}

#td-gewicht{
    width: 65px;    
    padding-right: 10px;
}

#txt-gewicht{
    width: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-nullpreis{
    width: 70px;
    padding-right: 10px;   
}

#td-nullpreis{
    width: 75px;
    padding-right: 10px;   
}

#txt-nullpreis{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-vk-preis{
    width: 80px;   
    padding-right: 10px;    
}

#td-vk-preis{
    width: 85px;   
    padding-right: 10px;    
}

#txt-vkpreis{
    width: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-marge-euro{
    width: 70px;
    padding-right: 7px; 
}

#td-marge-euro{
    width: 75px;
    padding-right: 10px; 
}

#txt-margeeuro{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-marge-prozent{
    width: 75px;    
    padding-right: 7px;  
}

#td-marge-prozent{
    width: 75px;    
    padding-right: 10px;  
}

#txt-margeprozent{
    width: 75px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-bestand{
    width: 60px;   
    padding-right: 10px;    
}

#td-bestand{
    width: 60px;   
    padding-right: 10px;    
}

#txt-bestand{
    width: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-ordner{
    width: 95px;
    padding-right: 10px; 
}

#td-ordner{
    width: 80px;
    padding-right: 10px; 
}

#txt-ordner{
    width: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#paging {
    border-top: solid gray 2px;   
    text-align: center;
    width: 1800px;
    background: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
}

.pagingElement {        
    display: inline-block;
    width: 40px;
    height: 30px;   
    padding-top: 10px;
    color: Orange;
    text-decoration: none;
    font-weight: bold;
}

.pagingElement:hover {        
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid Grey;
    background: Orange;
    padding-top: 10px;
    color: Grey;
    text-decoration: none;
    font-weight: bold;
}

#counter{
    float: right;   
    padding-top: 10px;
    padding-right: 10px;
}


