table{
    height: auto;
    border-spacing: 0px;
    margin-top: 5px;
    table-layout: fixed;
       
}

table tr{
    height: 10px;
    
}

tr th{
    text-align: left;
    font-size: 18px;
    border-bottom: solid 2px white;
    background: #D9D9D9;
    color: white;
    padding-top: 7px;
}

tr td{
    height: 50px;
    border-bottom: solid 1px grey;
}

.hover:hover{
    background-color: #ffc354;
    cursor: pointer;
    color: white;
}

.icon-setting{
    width: 20px;
    height: 20px;
    margin-right: auto;
}

tbody{
    display: block;
    height: 900px;
    overflow: auto;
    width: 100%;
}

tbody tr:nth-child(even) { 
  background-color: #efefef;
  color: #000; 
}

.icon-art-setting{
    width: 18.75px;
    height: 23.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-art-settings{
    width: 18.75px;
    height: 23.5px;
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;
}

/* TH Breite */

#th-plattform{
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
}

#td-plattform{
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-plattform{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-artikelnummer{
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-artikelnummer{
    width: 120px; 
    margin-bottom: 10px;
    margin-top: 5px;
}

#td-artikelnummer{
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
}

#th-artikelname{
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

#td-artikelname{
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-artikelname{
    width: 240px; 
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-hersteller{
    width: 8%;
    padding-left: 10px;
    padding-right: 10px;
}

#td-hersteller{
    width: 8%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-hersteller{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;
}


#th-plattform-id{
    width: 8%;
    padding-left: 10px;
    padding-right: 10px;
}

#th-plattform-id{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#td-plattform-id{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-plattformid{
    width: 100px;
    margin-bottom: 10px; 
    margin-top: 5px;
}

#th-ek-netto{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-eknetto{
    width: 80px;
    margin-bottom: 10px;  
    margin-top: 5px;
}

#td-ek-netto{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#th-mehrwertsteuer{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-mwst{
    width: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#steuer{
    background: #4988BF;
    border-radius: 4px;    
    text-align: center;
    padding: 2px;
    font-weight: bold;
    color: white;
}

#td-mehrwertsteuer{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#th-versandklasse{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;    
}

#td-versandklasse{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;    
}

#txt-versandklasse{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-gewicht{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#td-gewicht{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-gewicht{
    width: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-nullpreis{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;   
}

#td-nullpreis{
    width: 3%;
    padding-left: 10px;
    padding-right: 10px;   
}

#txt-nullpreis{
    width: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-vk-preis{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;    
}

#td-vk-preis{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

#txt-vkpreis{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-marge-euro{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px; 
}

#td-marge-euro{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px; 
}

#txt-margeeuro{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-marge-prozent{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;  
}

#td-marge-prozent{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;  
}

#txt-margeprozent{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-bestand{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;    
}

#td-bestand{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;    
}

#txt-bestand{
    width: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#th-ordner{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px; 
}

#td-ordner{
    width: 5%;
    padding-left: 10px;
    padding-right: 10px; 
}

#txt-ordner{
    width: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#paging{
	font-size: 16px;
    margin: 10px;
    text-align: center;
}

.pagingElement {        
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid Grey;
    padding-top: 10px;
    color: Orange;
    text-decoration: none;
    font-weight: bold;
}

.pagingElement:hover {        
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid Grey;
    background: Orange;
    padding-top: 10px;
    color: Grey;
    text-decoration: none;
    font-weight: bold;
}





















